
.Zona-item{
  width: auto;
  height: auto;
  padding: 9px;
  background-color: var(--main-color);
  display: inline-block;
  color: var(--secondary-color);
  margin-right: 3px;
  cursor: pointer;
  border: 0;
  text-transform: uppercase;
    font-size: 16px;
}
.Zona-item:hover{
  background-color:#07985e;
}

.Zona-item:focus{
  background-color: var(--secondary-color);
  color: var(--main-color);
  border: 0px solid green;
}
